footer{
    background: $mainTextColor;
    a{
        font-size: 2.5rem;
        letter-spacing: 3px;
        color:black;
        padding-bottom:1rem;
        display:flex;
        justify-content: center;
    }
    margin-top:2rem;
}

@media (max-width:550px){
    footer a{
        font-size:1.5rem;
    }
}