html{
    font-size:62.5%;
}

.wrapper{
    max-width: 1280px;
    width:90%;
    margin:0 auto;
}

body{
    background-color:$backgroundColor;
    color:$secondTextColor;
    font-family: $mainFont;
}

a{
    text-decoration:none;
}

li{
    list-style: none;
}
