.homePage{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size:5rem;
    text-align: center;
}

h2{
    font-size:4rem;
    text-align: center;
}
// hide defaut cursor came with typed.js
.typed-cursor{
   opacity: 0;
	display: none;
}
// create a cursor pseudo element
.typed::after{
    content:'|';
    display:inline;
    -webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color:#ee1c25;
}
// animation for cursor
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

// start button
a{
    background-color:black;
    border:none;
    color:#ee1c25;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding:0 3rem;
    
    
}
a:hover{
    border-bottom: 6px solid #ffffff ;
}
