main{
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .exit{
        margin-left: 80%;
        font-size: 3rem;
    }
    .exit:hover{
        color:$buttonTextColor;
    }
}
.gamePage{
    // text display
    .sampleText{
        color:$mainTextColor;
        font-size: 5rem;
        font-family:$mainFont;
        text-align: center;
        margin:5rem 0 ;
    }
    form{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    // user typing section
    textarea{
        border: 2px solid $secondTextColor;
        border-radius: 2px;
        background-color:$backgroundColor;
        padding:4rem;
        color:$mainTextColor;
        font-size: 3rem;
        font-family: $mainFont;
        margin-bottom: 3rem;
        box-shadow: 0 4px 8px 0 rgba(248, 245, 245, 0.452), 0 6px 20px 0 rgba(233, 228, 228, 0.61);
    }
    // rules 
    p{
        font-size:2rem;
        font-family: $mainFont;
        line-height: 0.1rem;
    }
    .gameButtons{
        display: flex;
        justify-content: center;
        margin-top:1rem;
    }
    .nextButton{
        display:none;
    }
    // clear button 
    .clearButton, .nextButton{
        background-color:$backgroundColor;
        border:none;
        color:$buttonTextColor;
        font-size: 5rem;
        text-transform: uppercase;
        font-family: $mainFont;
        margin:0 3rem;
    }
    .nextButton:hover,
    .clearButton:hover{
        border-bottom: 6px solid $mainTextColor ;
    }
}

// timer
.timer p{
    font-size: 3rem;
    text-align: center;
}

// sweet alert window 
.swal-button{
    padding: 1rem 2rem;
    background-color: $backgroundColor;
    color:$mainTextColor;
    font-size: 2rem;
    font-family:$mainFont;
    border: none;
}
.swal-button:not([disabled]):hover {
    background-color: $buttonTextColor;
}
.swal-modal {
    border: 5px solid $buttonTextColor;
}
@media (max-width:1000px){
    .gamePage .nextButton{
        display:inline;
    }
}
@media(max-width:700px){
    .gamePage form p:last-of-type{
        display:none;
    } 
}

@media (max-width:550px){
    main{
        .exit{
            font-size:2rem;
        }
    }
    .gamePage{
        .sampleText{
            font-size:4rem;
            margin:4rem 0;
        }
        textarea{
            padding:3rem 2rem;
            margin-bottom:2rem;
            width:80%;
        }
        .clearButton,
        .nextButton{
            font-size:4rem;
            margin:0 2rem;
        }
    }
    .timer p{
        font-size:2rem;
    }

    .swal-button{
        padding:0.5rem 1rem;
        font-size:1.5rem;
    }

}

@media (max-width:450px){
    .gamePage{
        .sampleText{
            font-size:3rem;
            margin:3rem 0;
        }
        textarea{
            padding:2rem 1rem;
            margin-bottom:1rem;
        }
        p{
            font-size:1.5rem;
        }

        .clearButton,
        .nextButton{
            font-size:3rem;
            margin:0 1.5rem;
        }
    }

    .timer p{
        font-size:1.7rem;
    }

}